
<h1 id="hbe-header-allevents">Hoboken Event Scheduler</h1>
<div id="form">
    <form action="/events/search" method="POST"> 
        <label for="search">Search By Event</label>
        <input id="search" name="eventSearchTerm"/>
        <button type="submit">Submit</button>
    </form>
    {{#if hasErrorSearch}}
    <p>{{error}}</p>
    {{/if}}
</div>
<br>
<div id="form">
    <form action="/events/filter" method="POST">
        <label for="searchTag">Filter By Tag</label>
        <select id="searchTag" name="eventSearchTag">
            {{#each tags}}
            <option val="{{{this}}}">{{{this}}}</option>
            {{/each}}
        </select>
        <button type="submit">Submit</button>
    </form>
    {{#if hasErrorTag}}
    <p>{{error}}</p>
    {{/if}}
</div>
<hr>
<section>
    <h2 id="allevents-header">All Events</h2>
    <ul id="events">
        {{#each events}}
            <li><a id="event" href="/events/{{_id}}">{{name}}</a></li>
        {{/each}}
    </ul>
</section>
