<h1 id="event-page-header">{{event_name}}</h1>

<div id="top-of-event-page">
    <a class="btn btn-light" href="/">Back to Home</a>
    <br>
</div>

<div class="flex-container">
    <div class="flex-child event">
        <div id="event-info">
            <h2>Event Information</h2>
            <h3>Event Creator</h3>
            <p>{{{event_creator}}}</p>
            <h3>Date of Event</h3>
            <p>{{{event_date}}}</p>
            <h3>Event Time</h3>
            <p>{{{event_time}}}</p>
            <h3>Event Location</h3>
            <p>{{{event_location}}}</p>
            <h3>Description</h3>
            <p>{{{event_description}}}</p>
            <h3>Tags</h3>
            {{#each event_tags}}
            <p>{{{this}}}</p>
            {{/each}}
        </div>

        <div id="num-attending-div">
            <p># of Users Registered: {{{numAttending}}}</p>
        </div>

        <div id="join-event-form">
            {{#if alreadyRegistered}}
                <p>You are already registered for this event!</p>
                <form action="/events/unjoin" method="post" id="unjoin_event_data">
                    <label hidden for="eid">event id</label>
                    <input hidden id="eid" name="event_id" value={{event_id}} />
                    <label hidden for="uid">event id</label>
                    <input hidden id="uid" name="user_id" value={{user_id}} />
                    <button class="btn btn-primary" type="submit">Unregister for Event</button>
                </form>
            {{else}}
                <form action="/events/join" method="post" id="join_event_data">
                    <label hidden for="eid">event id</label>
                    <input hidden id="eid" name="event_id" value={{event_id}} />
                    <label hidden for="uid">event id</label>
                    <input hidden id="uid" name="user_id" value={{user_id}} />
                    <button class="btn btn-primary" type="submit">Register for Event</button>
                </form>
            {{/if}}
        </div>
    </div>

    <div class="flex-child comments" id="entire-comments-div">
        {{#if event_comments.length}}
        <div class="comments">
            <h3>Comments</h3>
            <ul id="comments-list">
                {{#each event_comments}}
                    <li>
                        <ul class="single-comment-list">
                            <li>{{comment}}</li>
                            <li class="comment_info">Posted by: {{name}} on {{datePosted}}</li>
                        </ul>
                    </li>
                {{/each}}
            </ul>
        </div>
        {{/if}}

        <div id="comment-form-div">
            <form action="/comment" method="post" id="add_comment">
                <label for="comment_text">Comment</label>
                <input id="comment_text" name="comment_text" />
                <label hidden for="eid2">event id</label>
                <input hidden id="eid2" name="event_id" value={{event_id}} />
                <label hidden for="uid2">event id</label>
                <input hidden id="uid2" name="user_id" value={{user_id}} />
                <button class="btn btn-primary" type="submit">Post</button>
            </form>
        </div>
    </div>
</div>